{% extends 'business/base.html' %}
{% load static %}

{% block metas %}
  <meta name="description" content="Find the best talents for your organization" />
  <meta name="keywords" content="Talents, Worker, Resource, Hiring, Value" />
{% endblock %}

{% block title %}
  Job Vacancies
{% endblock %}

{% block local_style %}

{% endblock %}

{% block content %}
  <main class="content-wrapper">
    <div class="d-flex justify-content-end">
      {% include 'partials/_messages.html' %}
    </div>

    <section>
      <div class="row">
        <div class="col-8 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">
                Vacancy: <span class="text-primary">{{ vacancy.title }}</span>
              </h2>
              <p class="text-muted h5 mb-4">
                <i class="bi bi-clock-fill"></i> Application Deadline: <span class="p-1 alert-danger rounded">{{ vacancy.created_at }}</span>
              </p>

              <p class="card-title" style="font-size:medium;">
                <span>
                  <i class="bi bi-geo-alt-fill"></i>
                  <span class="p-2 alert-success rounded">{{ vacancy.city }}</span>
                </span>

                <span class="mx-3">
                  <i class="bi bi-briefcase-fill"></i>
                  <span class="p-2 alert-success rounded">{{ vacancy.job_type }}</span>
                </span>
              </p>

              <div>
                <p>{{ vacancy.description|safe }}</p>
              </div>

              {% if vacancy.get_skills %}
                <div class="mt-5">
                  <h2 class="h4">Technical Requirements</h2>
                  <ul class="ml-4">
                    {% for skill in vacancy.get_skills %}
                      <li>{{ skill.title }}</li>
                    {% empty %}
                      <p class="text-muted">No requirements specified for this vacancy</p>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              {% if vacancy.get_responsibilities %}
                <div class="mt-5">
                  <h2 class="h4">Responsibilities</h2>
                  <ul class="ml-4">
                    {% for responsibility in vacancy.get_responsibilities %}
                      <li>{{ responsibility.title }}</li>
                    {% empty %}
                      <p class="text-muted">No responsibilities specified for this vacancy</p>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              {% if vacancy.get_benefits %}
                <div class="mt-5">
                  <h2 class="h4">Benefits</h2>
                  <ul class="ml-4">
                    {% for benefit in vacancy.get_benefits %}
                      <li>{{ benefit.title }}</li>
                    {% empty %}
                      <p class="text-muted">No benefits specified for this vacancy</p>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>

            <div class="d-sm-flex justify-content-end m-3">
                <div>
                  <button type="button" class="btn btn-sm btn-danger mr-2" data-toggle="modal" data-target="#exampleModal">
                    <i class="bi bi-trash"></i>
                    Delete Vacancy Advertisement
                  </button>
                  <a href="{% url 'business:edit-vacancy' vacancy.vid %}" class="btn btn-sm btn-info mr-2">
                    <i class="bi bi-pencil-square"></i>
                    Edit Advertisement
                  </a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <img src="{{ vacancy.company.company_profile.image_url }}" alt="{{ vacancy.company.get_full_name }}" class="mb-4 vacancy-image card-img-top" />
          <p class="text-justify">{{ vacancy.company.company_profile.bio|safe }}</p>
        </div>
      </div>
    </section>

    {% include 'business/partials/_vacancy_delete_modal.html' %}
  </main>
{% endblock %}

{% block local_script %}

{% endblock %}
