{% load static %}
<section class="tab-pane fade show active" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2>Required Skills for Candidates</h2>
      <p class="card-description">List the most essential skills for better selection.</p>

      <form method="post" action="{% url 'business:add-vacancy-skill' vacancy.vid %}" class="forms-sample">
        {% csrf_token %}

        <div class="row justify-content-end text-start">
          {% for field in vacancy_skills_form.visible_fields %}
            <div class="col-12">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}

              {% if field.help_text %}
                <p class="text-muted">
                  <small>{{ field.help_text }}</small>
                </p>
              {% endif %}

              {% if field.errors %}
                <div class="text-danger error-messages">{{ field.errors }}</div>
              {% endif %}
            </div>
          {% endfor %}

          <div class="col-6">
            <label for="" class="w-100" style="visibility: hidden;">Add</label>
            <button type="submit" class="btn btn-primary w-100" id="btnAddItens">
              <i class="bi bi-plus-circle-fill"></i>
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
