<html lang="en" dir="ltr">
  <head>
    {% load crispy_forms_tags %}
    {% load static %}
    <meta charset="utf-8">
    <title>{%block title%}Subjects{%endblock%}</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
<nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top scrolling-navbar ">
                <div class="container" >
                      <a class="navbar-brand" href="{% url 'index' %}" style="color:#3888dd;" >Home</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                           aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                       </button>
                      <div class="collapse navbar-collapse" id="basicExampleNav" >
                        <ul class=" navbar-nav  mr-auto smooth-scroll " >
                                <li class="nav-item">
                                   <a class="nav-link" href="{% url 'courses:standard_list' %}">Courses</a>
                                </li>
                                {% if user.is_superuser %}
                                <li class="nav-item ">
                                   <a class="nav-link" href="{% url 'admin:index' %}">Admin</span> </a>
                                </li>
                                {%endif%}
                                {% if user.is_authenticated %}
                                    <li class="nav-item  ">
                                     <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item ">
                                        <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                                    </li>
                                    <li class="nav-item " >
                                       <a class="nav-link" href="{% url 'register' %}">Register</span> </a>
                                    </li>
                                {% endif %}
                        </ul>
                      </div>
                </div>
              </nav>
{% block content %}
<section class="text-center">
<p>Created on {{lessons.created_at}} by {{lessons.created_by}}</p><br>
<div class="row d-flex justify-content-center mb-3">
      <div id="player-overlay">
            <video controls>
                <source src="{{lessons.video.url}}"  type="video/mp4">
              </video>
      </div>
    </div>
<div class="row d-flex justify-content-center mb-3 mt-3">
      <!-- download presentations -->
                <div class="col-md-4 mb-4 mt-4">
                  <div class="card box-shadow-hover">
                    <div class="card-body">
                      <h5 class="card-title">Download Presentations</h5>
                      {% if lessons.ppt %}
                      <p class="card-text">Download presentations from the lecture</p>
                      <a href="{{lessons.ppt.url}}" download>
                      <button type="button" class="button-les"><span>Get Files</span></button>
                      </a>
                      {% else %}
                      <p class="card-text" > No PPT available</p>
                      {% endif %}

                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                  <div class="card box-shadow-hover">
                    <div class="card-body">
                      <h5 class="card-title">Download Video</h5>
                      <p class="card-text">Download Video from the lecture</p>
                      <a href="{{lessons.video.url}}" download>
                      <button type="button" class="button-les"><span>Get Files</span></button>
                      </a>
                    </div>
                  </div>
                </div>
              <div class="col-md-4 mb-4 mt-4">
                  <div class="card box-shadow-hover">
                    <div class="card-body">
                      <h5 class="card-title">Download Notes</h5>
                      {% if lessons.Notes %}
                      <p class="card-text">Download notes from the lecture</p>
                      <a href="{{lessons.Notes.url}}" download>
                      <button type="button" class="button-les"><span>Get Files</span></button>
                      </a>
                      {% else %}
                      <p class="card-text">Notes not available</p>
                      {%endif%}

                    </div>
                  </div>
                </div>
</div>
<div class="row d-flex justify-content-center mb-3 mt-3">
        {% if user.userprofileinfo.user_type == 'teacher' or user.is_superuser %}
        <div class="col-md-3 mb-3 text-center">
            <a href="{% url 'courses:lesson_update' standard=lessons.Standard.slug subject=lessons.subject.slug slug=lessons.slug %}" class="btn btn-warning btn-lg mr-4 btn-block">Update Lesson</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'courses:lesson_delete' standard=lessons.Standard.slug subject=lessons.subject.slug slug=lessons.slug %}" class="btn btn-danger btn-lg mr-4 btn-block"> Delete Lesson </a>
        </div>
        {% endif %}
</div>
</section>
<h4 class="mt-2 font-weight-bold">Post your comment: </h4>
<br><br>
<div class="container row">
    <div class="col-md-6">
      <form method="post">
         <div class="form-group">
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" name="form" value="Add Comment" class="btn btn-primary btn-sm">
         </div>
      </form>
    </div>
</div>
<div class="row">
{% for comment in lessons.comments.all %}
<div class="col-md-8 mt-2 mb-2">
    <h5>{{comment.author }}<small><i> Posted on {{comment.date_added}} </i></small></h5>
    <p>{{comment.body}}</p>
    {% for reply in comment.replies.all %}
      <h5>{{reply.author }}<small><i> Posted on {{reply.date_added}}</i></small></h5>
      <p>{{reply.reply_body}}</p>
    {% endfor %}

    <form method="post">
        <input type="hidden" name="comment.id" value="{{comment.id}}">
        <input type="hidden" name="comment.comm_name" value="{{comment.comm_name}}">
        {% csrf_token %}
        {{form2.as_p}}
        <input type="submit" name="form2" value="Add Reply" class="btn btn-warning btn-sm">
    </form>
</div>
{% endfor %}
</div>
{% endblock %}